.software{
    background-image: url('./../images/development/programming.jpg'); 
    background-size: cover;
    padding:16rem 0;
    margin-bottom: 0;
}
.driving-digital{
    padding: 6rem 0;
    background-image: linear-gradient(to right, rgba(105, 67, 215, 1), rgba(151, 0, 189, 1));
    color: white;
    text-align: left;
    margin-bottom: 0;
}
.mb-10{
    margin-bottom:3rem;
}
.service-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    position: relative;
}
.service-card-header {
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    position: absolute;
    top: -20px;
    left: 20px;
    display: flex;
    align-items: center;
}
.service-card-header h5 {
    color: #6f42c1;
    margin: 0;
    margin-left: 10px;
}
.service-card p {
    margin-top: 2.5rem;
}

.tech-stack{
    background-image: url('./../images/development/tech_stack.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 3rem;
    padding-top: 5rem;
}
.tech-stack h2{
    font-family: "Georama", sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    margin: 0;
}
.tech-stack p{
    font-size:2rem;
    font-family: "Georama", sans-serif;
    font-weight: bolder;
    margin: 0;
}
.tech-stack h3{
    padding-left: 15px;
    margin-bottom: 2rem;
    font-family: "Georama", sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}
.tech-stack img{
    border: 1px solid #fff;
    border-radius: 20px;
    padding:0.7rem;
    margin-bottom: 1rem;
}
.tech-stack hr{
    margin-top: 3rem;
    border-bottom: 2px solid white;
}