*{
    font-family: "Montserrat", sans-serif;
}
@media (max-width:800px){
    .driving-digital{
        padding: 0rem 0;
        margin:3rem 0;
    }
    .driving-digital img{
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}
@media (min-width: 900px) {
    .driving-digital{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .driving-digital .container{
        max-width: 100%;
        padding: 0;
    }
    .driving-digital .row{
        max-width: 100%;
    }
}
.driving-digital{
    background-color: #111D40;
    margin:0 !important;
}
.discover:hover{
    color: white;
    background-color:#111D40;
    box-shadow: 1px 12px 25px 0px #00000040;
    transition: all 0.3s ease;
}
.discover:hover svg path{
    stroke: #ffffff;
}

.choose{
    background: #111D40;
    margin-bottom: 0;
}
.choose .why-us{
    text-align: left;
    color: white;
    background-image: url('./../images/development/choose.jpg');
    background-size: cover;
    padding: 4rem;
}
.info-box {
    margin: 10px 0;
    border-top: 3px solid #3780FF; /* Left border */

}
.info-box h5 {
    align-content: center;
    margin-bottom: 15px;
    margin-left: 5px;
}
.info-box .d-flex p{
    font-weight: 700;
    font-size: 20px;
    padding: 5px 15px;
    background: #1A2D47;
}

.choose{
    position: relative;
}

.left-box{
    background-color: #3780FF;
    padding: 2.5rem;
    position: absolute;
    margin-top: 2rem;
    margin-left: 2rem;
    top: 0%;
    left: 0%;
}

@media (max-width:900px){
    .left-box{
        position: relative;
        margin: 0;
        padding: 2rem;
    }
}

.software-ts{
    background-image: url('./../images/tag-services/teamwork.jpg'); 
    background-size: cover;
    padding:16rem 0;
    margin-bottom: 0;
    background-position: center;
}
.services-section {
    background-color: #E7EEFA; /* Light blue background */
    padding:0;
    margin:0;
}
.services-section h2 {
  color: #6f42c1; /* Purple color for the heading */
  font-weight: bold;
  margin-bottom: 1rem;
}
.services-section ol li{
    padding:0.2rem 0;
}
.flow-chart{
    background-color: #eeeeee;
}
.flow-chart h2{
    border-bottom: 2px solid #000;
    padding-bottom:1rem;
}
@media (max-width:800px) {
    .services-section{
        display: none;
    }
}

.cust-li ul{
    padding: 1rem;
}

.cust-li li {
    padding-left: 10px !important;
    list-style-type: '\1F7E3';
    padding: 0.9rem 0rem 0.5rem 0rem;
}


.cust-li h2 {
    color: #373737; /* Purple color for the heading */
    font-weight:200;
    font-size: 2rem;
    font-family: "Georama", sans-serif;
  }
  
.cust-li .discover {
    /* border: 1px solid #C2C2C2; */
    /* border-radius: 10px; */
    border: none;
    padding: 1rem;
}
.cust-list-fnt{
    font-size: 0.9rem;
}
.cust-li ul li::marker{
    font-size: 0.8rem;
}
@media (min-width:921px) {
    .img-test{
        max-width: fit-content;
    }
}
.tag-services{
    max-width: fit-content;
}

/* enterprise-resources page */
.software-ll{
    background-image: url('../images/cloud/hero.png'); 
    background-size: cover;
    padding:16rem 0;
    margin-bottom: 0;
    background-position: center;
    }
    /* software development */
.software-12{
        background-image: url('./../images/development/hero.png'); 
        background-size: cover;
        padding:16rem 0;
        margin-bottom: 0;
        background-position: center;
    }
    /* software testing */
.software-13{
        background-image: url('./../images/testing/hero.png'); 
        background-size: cover;
        padding:16rem 0;
        margin-bottom: 0;
        background-position: center;
    }
.software-14{
        background-image: url('./../images/cyber/hero.png'); 
        background-size: cover;
        padding:16rem 0;
        margin-bottom: 0;
        background-position: center;
    }
    .software-15{
        background-image: url('./../images/globe-services/hero.png'); 
        background-size: cover;
        padding:16rem 0;
        margin-bottom: 0;
        background-position: center;
    }
    .software-16{
        background-image: url('./../images/enterprise/hero.png'); 
        background-size: cover;
        padding:16rem 0;
        margin-bottom: 0;
        background-position: center;
    }
/* contact-us page */

.contact-img{
    background-image: url('../images/contact-us/contact-us.jpg');
    padding:16rem 0;
    margin-bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
}
.feel-free{
    background-color: #613EC7;
    margin-bottom: 0;
    padding-bottom: 4rem;
}
.dark{
    background-color: black;
    border-radius: 10px;
    height: fit-content;
}
@media (max-width: 500px){
    .dark{
        margin: 15px;
    }
}
.form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:#78909C;
}
.btn-custom {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 20px;
    border: none;
}
.form-control{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
}
#file-upload{
    border: 1px solid #E2E7EA;
    padding: 1rem;
}
.iti{
    width: inherit;
}
.iti--separate-dial-code .iti__selected-flag {
    background-color: #F5F5F5 !important;
}

/* globe css */

.globe-path h2{
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.globe-path h3{
    font-size: 1.4rem;
    font-weight: 600;
    margin:20px 0;
}

/* erp css */
.erp-details h1{
    font-size:5rem;
    background-image: linear-gradient(90deg, rgba(113,54,210,1) 0%, rgba(0,0,0,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.erp-details h3{
    font-size:2rem;
    font-weight: 400;
    background-image: linear-gradient(90deg, rgba(113,54,210,1) 0%, rgba(0,0,0,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    letter-spacing: 1px;
}
.tech-exo{
    background-color: #111D40;
    margin:0;
}
.tech-exo img{
    border-radius: 20px;
}
.tech-exo h1{
    font-size: 2rem;
    font-weight: 700;
}
.tech-exo h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.tech-exo p{
    font-size: 0.9rem;
}
.tech-exp h1{
    font-size: 2rem;
    font-weight: 700;
}
.tech-exp img{
    border-radius: 25px;
}
.tech-exp h2{
    color:#333;
}
.tech-exp h3{
    margin-top:2rem;
    font-size: 1.4rem;
}
.bg-wp{
    background-color:#E2E7EA;
}
.tech-exp p{
    line-height: 30px;
    color:#333;
}
.core-strength h1{
    font-size: 2rem;
    font-weight: 700;
}

    .bg-color .Core-img {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s, visibility 0.5s;
    }
    .bg-color .outer {
      float: left;
      border-radius: 25px;
      display: none;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 1s;
    }
    
    .bg-color:hover{
        border-radius: 25px;
        transition: opacity 0.3s, visibility 1s;
        transition: background-color 300ms linear;
        -webkit-transition: background-color 300ms linear;
        -ms-transition: background-color 300ms linear;
        -o-transition: background-color 300ms linear;
        -ms-transition: background-color 300ms linear;
        background-image: linear-gradient(to bottom,transparent 0%, #38173f 80%);
        background-color: #693973;
        color: white;
    }
    
    .bg-color:hover .Core-img {
      display: none;
      transition: opacity 0.3s, visibility 1s;
      opacity: 0.7;
      visibility: hidden;
    }
    
    .bg-color:hover .outer {
      transition: opacity 0.3s, visibility 1s;
      display: block;
      opacity: 0.7;
      visibility: visible;
      animation:fadeInUp;
      animation-duration: 1s;
      padding: 2rem;
    }

 .bg-color {
    background-size: cover;
    margin-bottom: 0;
    color: #fff;
    background-position: center;
    border-radius: 25px;
    overflow: hidden;
}
.Core-img h4{
    position: relative;
    padding-top: 16rem;
    margin-bottom: 0px;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

}
.bg-0{
    background-image:  linear-gradient(to bottom,transparent 0%, #38173f 80%), url('../images/enterprise/erp-0.jpg');
    height: 21rem;
}
.bg-1{
    background-image:  linear-gradient(to bottom,transparent 0%, #38173f 80%), url('../images/enterprise/erp-1.jpg');
    height: 21rem;
}
.bg-2{
    background-image:  linear-gradient(to bottom,transparent 0%, #38173f 80%), url('../images/enterprise/erp-2.jpg');
    height: 21rem;
}
.bg-3{
    background-image:  linear-gradient(to bottom,transparent 0%, #38173f 80%), url('../images/enterprise/erp-3.jpg');
    height: 21rem;
}
/* software development */
.bg-01{
    background-image:  linear-gradient(to bottom,transparent 0%, #38173f 80%), url('../images/development/tech-1.png');
    height: 21rem;
}
.bg-02{
    background-image:  linear-gradient(to bottom,transparent 0%, #38173f 80%), url('../images/development/tech-2.png');
    height: 21rem;
}
.bg-03{
    background-image:  linear-gradient(to bottom,transparent 0%, #38173f 80%), url('../images/development/tech-3.png');
    height: 21rem;
}
.bg-04{
    background-image:  linear-gradient(to bottom,transparent 0%, #38173f 80%), url('../images/development/tech-4.png');
    height: 21rem;
}
/* Cyber Services */
.bg-11{
    background-image:  linear-gradient(to bottom,transparent 0%, #38173f 80%), url('../images/cyber/tech-1.png');
    height: 21rem;
}
.bg-22{
    background-image:  linear-gradient(to bottom,transparent 0%, #38173f 80%), url('../images/cyber/tech-2.png');
    height: 21rem;
}
.bg-33{
    background-image:  linear-gradient(to bottom,transparent 0%, #38173f 80%), url('../images/cyber/tech-3.png');
    height: 21rem;
}
.bg-44{
    background-image:  linear-gradient(to bottom,transparent 0%, #38173f 80%), url('../images/cyber/tech-4.png');
    height: 21rem;
}
.bg-action{
    background: linear-gradient(135deg, #1E1B3A, #2C1F5D, #0F0E17);
}

/* new responsive starts from here */
@media (max-width:900px){
    .tech-exp img{
        margin-bottom: 1rem;
    }
    .tech-exp h3{
        margin:0;
    }
    .ch-1{
        display: flex;
        flex-direction: column-reverse;
    }
    .padding-ch img{
        padding:10px !important;
        margin-top:1rem;
    }
    .globe-path h2{
        margin-top:2rem;
        font-size: 1.8rem;
        font-weight: bold;
    }
    .globe-path h3{
        margin-top:10px;
        padding:0;
    }
}
