.about-us-p{
    font-family: 'Poppins';font-size: 22px;
    font-size:17px;
    line-height: 33px;
}
.count{
    color: white;
    background-image: url("./../images/home/rect.jpg");
    background-position: center;
    background-size: cover;
}
.service-grad{
    background-image: linear-gradient(to bottom, #7F56D9 0%, #6943D7 100%,transparent);
    background-position: center;
    background-size: cover;
}
.section-grad h4{
    font-size: 1.1rem;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 0px;
}
.services{
    place-content: end;
    background-position: center;
    background-size: cover;
    width:237px;
    max-width: 100%;
    background-repeat: no-repeat;
    height:349px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}
.s-1:before{
    background-image: url("./../images/home/service-1.jpg");
    opacity: 0.5;
    border-radius:15px;
}
.s-2:before{
    background-image: url("./../images/home/service-2.jpg");
    border-radius:15px;
    opacity: 0.5;
}
.s-3:before{
    background-image: url("./../images/home/service-3.jpg");
    border-radius:15px;
    opacity: 0.5;
}
.s-4:before{
    background-image: url("./../images/home/service-4.jpg");
    border-radius:15px;
    opacity: 0.5;
}
.service-card{
    box-shadow: 0px 67.11px 109px 0px #0000000D;
    border: 1px solid #F3F1FF;
    border-radius: 10px;
    padding: 32px;
    background-color: #fff;
    padding-bottom: 3rem;
}
.dividor{
    border: 1px solid #9c9b9b;
}
@media (max-width: 500px) {
    .dividor {
        display: none;
    }
    .count p{
        margin-bottom: 0px !important;
    }
    .count span{
        margin-bottom: 3rem;
    }
    .count .ele{
        margin-bottom: 2.2rem;
    }
}
.read-more{
    box-shadow: 0px 6px 14px 0px #00216187;
    background: linear-gradient(93.53deg, #6943D7 2.58%, #4E6FE0 121.99%);
    border-radius: 25px;
    float: left;
    margin-bottom: 1.5rem;
    color: white;
}
.insight .img-grad{
    border-radius:20px;
}
@media (max-width: 800px) {
    .services{
        width: 100% ;
    }
    #insight{
        display: none;
    }
    #insight-carousel{
        display: inline;
    }
}
.carousel-control-prev{
    left: auto;
}
/* .carousel-control-prev-icon {
    background-image: url('./../images/home/arrowcircleleft.svg');
}
.carousel-control-next-icon {
    background-image: url('./../images/home/arrowcircleright.svg');
} */

@media (min-width:801px){
    #insight{
        display: flex;
    }
    #insight-carousel{
        display: none;
    }
}

.career{
    background-color: #1D1C20;
    color: white;
    text-align: left;
    padding-bottom: 3rem;
    margin-bottom: 0px;
}
.career a{
    border-left: 0px;
    border-right: 0px;
}
.career img{
    opacity: 0.7;
    border: 1px solid #EFDCDF;
}
@media (max-width: 800px) {
    .career .row{
        flex-direction: column-reverse;
    }
}
@media (min-width: 513px) {
    .career .container{
        background-image: linear-gradient(to right, rgba(105, 67, 215, 1), rgba(151, 0, 189, 1));
        padding: 4rem;
    }
}
.item-1{
    background-image: url('../images/home/hero.png');
    background-size: cover;
    padding:16rem 0;
    margin-bottom: 0;
    background-position: center;
}
.item-2{
    background-image: url('../images/home/hero.png');
    background-size: cover;
    padding:16rem 0;
    margin-bottom: 0;
    background-position: center;
}
.item-3{
    background-image: url('../images/home/hero.png');
    background-size: cover;
    padding:16rem 0;
    margin-bottom: 0;
    background-position: center;
}

.hero{
    padding-bottom: 2rem;
    margin-bottom: 1px !important;
}