.text-left{
    font-size: 1.1rem;
    font-weight: 300;
}
.text-left h3{
    font-size:1.3rem;
    font-weight: 400;
}
.float-left{
    color:#4E41C2;
}
.img-fluid{
    position: relative;
    object-fit: cover;
    display: block;
}
.img-fluid:hover{
            background-color: linear-gradient(to top, #4E41C2, #7F56D9); /* Customize the gradient as needed */
          color:#7F56D9
}
.count{
    color: white;
  background-image: url("./images/home/rect.jpg");
  background-position: center;
  background-size: cover;
  padding: 8rem 0;
  
}
.count-1{
    top: 50%;
    left: 50%;
}
.count-p{
    margin-bottom:1rem;
}
.count-p p{
    font-size: 3rem;
}
.count-p h2{
    font-size:2.5rem;
    font-family: "Georama", sans-serif;
}
.container-1{
    font-size:1.5rem;
    text-align:left;
    margin-bottom:2rem;
}
.indust{
    background-image:url(/images/object.jpg);
    background-size: cover;
}
.int{
    background-color: #110039;
    opacity: 0.7;
}
.industry{
    border:2px solid #fff;
    border-radius: 2rem;
}
.arr{
    font-size:2.3rem !important;
    margin:0;
    font-weight: bold;
    padding-right: 1rem !important;
    color: #4EBEDD !important;
}
.in-dus{
    font-size: 1.2rem;
    text-align: left;
    padding:2rem 0;
    color:#ffff;
}
.career-1{
    background-color: #000;
}
.career-2{
    background-image: linear-gradient(to right, rgba(105, 67, 215, 1), rgba(151, 0, 189, 1));
    padding:2rem;
}
.career{
    text-align: left;
}
.career h2{
    color:#fff;
    font-family: "Georama", sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
}
.career p{
    color:#fff;
    font-size: 1.2rem;
    text-align: justify;
}
.power-img{
    background-image: url(/images/businessmen.jpg);
    background-size: cover;    
}
.power-img-1{
    background-color: black;
    opacity: 0.7; 
}
.em-power{
    text-align:left;
}