*{
    font-family: "Montserrat", sans-serif;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
.navbar-brand img{
    width:13rem;
}
.erp-details{
    margin-bottom: 5rem;
}
.resources-img-1{
    background-image: url('./../images/success/success.jpg'); 
    background-size: cover;
    padding:16rem 0;
    margin-bottom: 0;
}
.resources-img-2{
    background-image: url('./../images/success/employee.jpg'); 
    background-size: cover;
    padding:16rem 0;
    margin-bottom: 0;
}
.resources-img-3{
    background-image: url('./../images/success/bro-hero.jpg'); 
    background-size: cover;
    padding:16rem 0;
    margin-bottom: 0;
}
.resources-img-4{
    background-image: url('./../images/success/news.jpg'); 
    background-size: cover;
    padding:16rem 0;
    margin-bottom: 0;
}
.resources-img-5{
    background-image: url('./../images/success/group-img.JPG'); 
    background-size:auto;
    background-position:bottom;
    padding:16rem 0;
    margin-bottom: 0;
}
.resources-img-6{
    background-color: #2C1F5D;
    padding:12rem 0;
    margin-bottom: 0;
}
.resources-img-7{
    background-color: #2C1F5D;
    padding:5rem 0;
    margin-bottom: 0;
}
.insight{
    margin:4rem 0 5rem 0;
}
.services{
    place-content: end;
    background-position: center;
    background-size: cover;
    width:237px;
    max-width: 100%;
    background-repeat: no-repeat;
    height:349px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}
.s-1:before{
    background-image: url("./../images/success/success-stories/img-1.png");
    opacity: 0.5;
    border-radius:15px;
}
.s-2:before{
    background-image: url("./../images/success/success-stories/cyber-security-protection-firewall-interface-concept\ 1.png");
    border-radius:15px;
    opacity: 0.5;
}
.s-3:before{
    background-image: url("./../images/success/success-stories/designer-creating-car-concept-computer-office-focusing-hood-tires-lighting-details\ 1.png");
    border-radius:15px;
    opacity: 0.5;
}
.s-4:before{
    background-image: url("./../images/success/success-stories/business-job-interview-concept-1.png");
    border-radius:15px;
    opacity: 0.5;
}
.s-5:before{
    background-image: url("./../images/success/success-stories/concept-connecting-information-world-by-internet-technology-online-transaction-big-data\ 1.png");
    border-radius:15px;
    opacity: 0.5;
}
.s-6:before{
    background-image: url("./../images/success/success-stories/information-technology-image-it-professional-image-computer-technology-image-it-department-image\ 1.png");
    border-radius:15px;
    opacity: 0.5;
}
.ab-1:before{
    background-image: url("../images/success/maga.png");
    border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
}
.ab-2:before{
    background-image: url("../images/success/maga-1.png");
    border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
}
.ab-3:before{
    background-image: url("../images/success/maga-2.png");
    border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
}
.ab-4:before{
    background-image: url("../images/success/maga-3.png");
    border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
}
.ac-1:before{
    background-image: url("../images/success/tech-1.png");
    border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
}
.ac-2:before{
    background-image: url("../images/success/tech-2.png");
    border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
}
.ac-3:before{
    background-image: url("../images/success/tech-3.png");
    border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
}
.ac-4:before{
    background-image: url("../images/success/tech-4.png");
    border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
}
.ac-5:before{
    background-image: url("../images/success/tech-5.png");
    border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
}
.ac-6:before{
    background-image: url("../images/success/tech-6.png");
    border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
}
.ac-7:before{
    background-image: url("../images/success/tech-7.png");
    border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
}
/* news */
.aa-1:before{
    background-image: url("../images/success/KNT-FINAL-LOGO-BLACK.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius:15px;
    opacity: 0.5;
}
.aa-2:before{
    background-image: url("../images/success/logo-white.png");
    border-radius:15px;
    opacity: 0.5;
    background-size: contain;
    background-repeat: no-repeat;
}
.aa-3:before{
    background-image: url("../images/success/Hrnxt-smalllogo-e1579348773524.png");
    border-radius:15px;
    opacity: 0.5;
    background-size: contain;
    background-repeat: no-repeat;
}
.aa-4:before{
    background-image: url("../images/success/LinkedIn-Logo.png");
    border-radius:15px;
    opacity: 0.5;
    background-size: contain;
    background-repeat: no-repeat;
}
.service-card{
    box-shadow: 0px 67.11px 109px 0px #0000000D;
    border: 1px solid #F3F1FF;
    border-radius: 10px;
    padding: 48px;
    background-color: #fff;
    padding-bottom: 3rem;
}
.inner-div .content {
    position: relative;
    z-index: 2;
    text-align: left;
    margin-bottom: 2rem;
  }
  .outer-div{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
  }
  .outer-divt{
    margin-left: 2rem;
  }
  .content p{
    color: #fff;
    font-size: 1rem;
  }
  .content a{
    color: #fff;
    background-color: #1b133d;
    padding:10px 10px;
    border-radius: 8px;
    font-size: 1rem;
    text-decoration: none;
  }
.dividor{
    border: 1px solid #9c9b9b;
}
@media (max-width: 600px) {
    .outer-divt{
        margin-left:0 !important;
        margin-bottom: 2rem;
    }   
}
.insight .img-grad{
    border-radius:20px;
}
.news-links ul li{
    margin-bottom:2rem;
    border-bottom: 1px solid #030303;
    padding-bottom: 1rem;
    list-style: none;
}
.news-links ul li a {
    text-decoration: none;
}

/* culture Page */
.head-dt {
    background-color: #2C1F5D;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.head-dt h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.head-dt p {
    font-size: 1.2rem;
    opacity: 0.8;
}
.card {
    border: none;
    background: white;
    border-radius: 20px;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-icon {
    font-size: 3rem;
    color: #2C1F5D;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2C1F5D;
    margin-bottom: 15px;
}

.card-text {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}
.culture-ab{
    padding: 50px 15px;
}
/* career page */

.job-listings {
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.job-item {
    padding: 2rem 0;
  border-bottom: 1px solid #000;
}

.job-item:last-child {
    border-bottom: none;
}

.job-link {
    font-size: 1.1rem;
    color: #000;
    text-decoration: none;
}

.job-link:hover {
    text-decoration: underline;
    color: #1A1545;
}

/* positions css */

.job-container {
    padding: 20px;
}

.job-header h1 {
    font-size: 1.8rem;
    margin: 0;
}

.job-header p {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}
.job-section ul li{
    margin-bottom: 1rem;
}
.job-section {
    margin-top: 20px;
}

.job-section h3 {
    font-size: 1.3rem;
    color: #2C1F5D;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.job-list {
    margin: 10px 0;
    padding-left: 20px;
}

.btn-primary {
    background-color: #2C1F5D;
    border-color: #2C1F5D;
}

.btn-primary:hover {
    background-color: #1A1545;
    border-color: #1A1545;
}